.contacts {
   display: flex;
   margin-left: auto;
 }
 
 .contacts-list {
   display: flex;
   margin-left: auto;
 }
 
 .contacts-list > .iten {
   display: flex;
   align-items: center;
 }

 .contacts-list__iten:not(:last-child) {
   margin-right: 50px;
 }
 
 .contacts-list__info {
   display: flex;
   padding-top: 32px;
   padding-bottom: 32px;
 
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   text-decoration: none;
   color: var(--primary-text-color);
   letter-spacing: 0.02em;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
     fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 
 .contacts-list__header-icon {
   margin-right: 10px;
   fill: currentColor;
 }
 
 .contacts-list__info:hover,
 .contacts-list__info:focus {
   color: var(--activ-color);
 }
 